<footer class="site-footer">
	<p>浙ICP备2025149243号-1</p>
</footer>

<style lang="scss">
	.site-footer {
		position: relative;
		z-index: 1;
		padding: 28px 24px 34px;
		color: rgba(216, 222, 233, 0.42);
		font-size: 0.78rem;
		text-align: center;
	}

	.site-footer p {
		margin: 0;
	}
</style>
